target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
.classpath
.project
.settings/
.idea/
*.iml
.DS_Store
*.log
### STS ###
.apt_generated
.factorypath
.springBeans
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
### VS Code ###
.vscode/
